<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1021897382992-tppuqim8n1odqmb0bt9av7r5000130b7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1021897382992-tppuqim8n1odqmb0bt9av7r5000130b7</string>
	<key>API_KEY</key>
	<string>AIzaSyC0zWxFpPeHM_WHSMqrgE0GI3z9TgNtt7M</string>
	<key>GCM_SENDER_ID</key>
	<string>1021897382992</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>Way-Civil-War.HACS</string>
	<key>PROJECT_ID</key>
	<string>civ-war</string>
	<key>STORAGE_BUCKET</key>
	<string>civ-war.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1021897382992:ios:bba631182803d914480555</string>
	<key>DATABASE_URL</key>
	<string>https://civ-war.firebaseio.com</string>
</dict>
</plist>